language: ruby
services:
  - mysql
  - postgresql
rvm:
  - 2.5
  - 2.6
  - 2.7
gemfile:
  - gemfiles/rails_5.1.gemfile
  - gemfiles/rails_5.2.gemfile
  - gemfiles/rails_6.0.gemfile
  - gemfiles/rails_6.1.gemfile
before_install:
  - bin/setup
cache:
  bundler: true
